repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-added-large-files
      - id: check-byte-order-marker
      - id: check-case-conflict
      - id: check-executables-have-shebangs
      - id: check-json
        exclude: ^{{cookiecutter\.project_slug}}
      - id: check-merge-conflict
      - id: check-shebang-scripts-are-executable
      - id: check-symlinks
      - id: check-vcs-permalinks
      - id: check-yaml
        exclude: ^{{cookiecutter\.project_slug}}
      - id: pretty-format-json
        exclude: ^{{cookiecutter\.project_slug}}
        args: ["--autofix", "--no-sort-keys"]
      - id: destroyed-symlinks
      - id: detect-aws-credentials
        args: [--allow-missing-credentials]
      - id: detect-private-key
      - id: fix-byte-order-marker
      - id: requirements-txt-fixer
        args: ["requirements.txt","{{cookiecutter.project_slug}}/requirements-dev.txt"]
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/pycqa/isort
    rev: "5.13.2"
    hooks:
      - id: isort
        args: ["--profile", "black", "--filter-files"]
        exclude: ^{{cookiecutter\.project_slug}}
  - repo: https://github.com/psf/black
    rev: "24.3.0"
    hooks:
      - id: black
        exclude: ^{{cookiecutter\.project_slug}}
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.9.0"
    hooks:
      - id: mypy
        exclude: ^{{cookiecutter\.project_slug}}
        additional_dependencies: [cookiecutter, jinja2, types-requests]
